# Dependency directories
node_modules/
# Build output
dist/
build/
# System files
.DS_Store
Thumbs.db
# Environment files
.env
# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Ignore nested git repos
**/.git
